html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  color: #ffffff;
}

.todo__wrapper {
  max-width: 980px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.todo__top {
  background-color: #f44336;
  margin: 35px 25px 40px 35px;
  padding: 40px;

}

.todo__title {
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1;
}

.todo__form {
  display: flex;
  justify-content: center;
  flex-basis: 900px;
}

.todo__form-add,
.todo__form-btn {
  border: none;
  border-radius: 0px;
}