html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}


.box {
  background-color: pink;
  max-width: 1200px;
  width: 100%;
  margin: 5px auto;
  padding: 55px;
}

.box__title {
  text-align: right;
  padding: 20px 40px;
  color: brown;
  font-size: 80px;
  text-transform: lowercase;
  margin-bottom: 100px;
}
